.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIAQUERY */

@media all and (max-width: 419px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: left;
  width: 100%;
  margin: 10px 0;
  }

  .row {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }

  img {
    scale: 0.75;
  }

  #why.container.grey .row > div {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .container, #why.container.grey {
    background-color: rgb(226, 226, 85);
  }

  .container.grey {
    background-color: white;
  }

  hr {
    margin-top: 10px;
  }

}

@media all and (min-width: 420px) and (max-width: 810px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third,
  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: left;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  text-align: justify;
  }

  h3 {
    text-align: center;
    margin: 0 0 10px;
  }

  .row {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }

  img {
    scale: 0.85;
    margin-left: 25%;
  }

  hr {
    margin-top: 10px;
  }

  #why.container.grey .row > div {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .container, #why.container.grey {
    background-color: rgb(44, 86, 148);
  }

  .container.grey {
    background-color: rgb(136, 80, 80);
  }

}

@media all and (max-width: 345px) {
  img {
    width: 70%;
    height: auto;
  }
}